<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8">
<title>myBlog</title>
<link rel = "stylesheet" type = "text/css" href = "../static/css/blog.css">
</head>
<body>
<div id  = "container"> 
<div id = "header">

<div id = "firstpic" >
<img  a href = "" src = "./images/csdn.jpg" alt = "" width="80" height="50" style="float:left"></a>
</div>
<div id = "menu">
<ul class = "title" >
<li><a  href = "#" >论坛</a></li> 
<li><a  href = "#" >下载</a></li>
<li><a  href = "#" >博客</a></li>
<li><a  href = "#" >问答</a></li> 
<li><a  href = "#" >班级</a></li> 
<li><a  href = "#" >新闻</a></li> 
<li><a  href = "#" >活动</a></li> 
<li><a  href = "#" style = "margin-right:150px">ITeye</a></li>
</ul>
</div>
<div id = "secondpic" >
<img id = "search" src = "./images/search.jpg" alt = ""  height="40" width = "200" style="float:left" >
</div>
<div id = "other">
<ul class = "subtitle" >
<li><a  href = "#" style="margin-left:23px">写论坛</a></li> 
</ul>
</div>
<div id = "thirdpic">
<img a href = "" src = "./images/c.gif" alt = "" width = "50" height = "50" style="float:left"></a>
</div>
</div>

<div id = "main">
  
<h>论坛</h>
<ul class = "mana">
<li><a  href = " " >修改个人资料</a></li> 
<li><a  href = " " >管理论坛</a></li> 
</ul>

<div id = "lside">

<div id = "state">
<h>只看原创</h>
<div id = "fourthpic">
<img src = "./images/search.jpg" alt = "" >
</div>
</div>

<div id = "artitlrtitle">
<h > 期末考试周即将来临</h>
</div>
<div id = "content">
<p>近期期末考试陆续进行，各位同学要认真备考，做好复习迎考。诚信考试，不要考试作弊，影响毕业！各位同学记好考试时间和考场，带好有效身份证件。</p>
</div>
<div id = "time">
<h>原创</h>
<p class = "oth">2019-12-09 12:00:00</p>
<p class = "oth">阅读量：1000</p>
<p class = "oth">评论：2</p>
</div>

<div id = "artitlrtitle">
<h>英语四六级听力考试耳机试音开始啦！</h>
</div>
<div id = "content">
<p>今天上午10：00大学英语四六级听力考试耳机试音开始了。请考生自备耳机、电池，并务必在考前进行试音，确保耳机能够正常使用。特别提醒：2019级目前未有耳机的同学请务必抓紧时间自备。试音最好能在大学英语四六级准考证显示的考场进行，以确保耳机试音效果。</p>
</div>
<div id = "time">
<h>原创</h>
<p class = "oth">2019-12-10 11:00:00</p>
<p class = "oth">阅读量：1000</p>
<p class = "oth">评论：2</p>
</div>

<div id = "artitlrtitle">
<h>勤工俭学岗位招工</h>
</div>
<div id = "content">
<p>目前校内勤工俭学的岗位仍有不少空缺，有意向的同学和老师联系，确认有岗位后填写申请表找辅导员签字，然后交给负责老师。岗位有限，先到先得。注意：一人一岗，正在做勤工俭学的同学不要再申请岗位·</p>
</div>
<div id = "time">
<h>原创</h>
<p class = "oth">2019-12-08 12:00:00</p>
<p class = "oth">阅读量：1000</p>
<p class = "oth">评论：2</p>
</div>

<div id = "artitlrtitle">
<h>请销假强调</h>
</div>
<div id = "content">
<p>再次强调请销假手续（虽然已经强调过好多遍了）：请假原则上要写纸质假条请假（寝室长、班长先签字），如果来不及就发消息给我请假（并向寝室长、班长也请假），不管什么情况一定要事前请假，事后销假，一定要诚实请假，正当理由我都会同意。不按规定履行请销假手续的同学按照《学生手册》相关规定处理</p>
</div>
<div id = "time">
<h>原创</h>
<p class = "oth">2018-01-01 00:00:00</p>
<p class = "oth">阅读量：1000</p>
<p class = "oth">评论：2</p>
</div>

<div id = "artitlrtitle">
<h>专题讲座通知</h>
</div>
<div id = "content">
<p>各位同学：本周六（明天）中午12:15在汇文楼A308集体观看“庆祝新中国成立70周年大型成就网上展馆”，所有学生党员务必参加，欢迎入党积极分子和其他同学参加，现场签到，有第二课堂学分。</p>
</div>
<div id = "time">
<h>原创</h>
<p class = "oth">2018-01-01 00:00:00</p>
<p class = "oth">阅读量：1000</p>
<p class = "oth">评论：2</p>
</div>

</div>


<div id = "rside">

<div id = "head">  
<img a href = "" src = "./images/c.gif" alt = "" width = "50" height = "50" style="float:left"></a>
<p>XXX</p>
<div id = "four">
<p class = "yuan" style="word-spacing:22px;text-indent:6px;">原创      粉丝     喜欢     码云 </p>
<p class = "num1" > 8 </p>
<p class = "num2" > 8 </p>
<p class = "num3" > 8 </p>
<p class = "num4"> 未开通 </p>
</div>
</div>


<div id = "intro">
<p class = "ff" >访问量： 1000 </p>
<p class = "ff" >等级： 2 </p>
<p class = "ff" >排名： 10000 </p>
<p class = "ff" >勋章： 恒 </p>
</div>
 
 
<div id = "fenlei">
<h>文章分类 </h> 
<p><a class = "ti1" href = "#" > Android</a></p>
<p class = "tii1">8篇</p>
<p><a class = "ti1" href = "#" > CSS </a></p>
<p class = "tii1">8篇</p>
<p><a class = "ti1" href = "#" > JAVA </a></p>
<p class = "tii1">8篇</p>
</div>

<div id = "cundang">
<h>文章存档 </h> 
<p><a class = "ti1" href = "#" > 2017年10月</a></p>
<p class = "tii1">2篇</p>
<p><a class = "ti1" href = "#" > 2018年01月 </a></p>
<p class = "tii1">2篇</p>
<p><a class = "ti1" href = "#" > 2019年03月 </a></p>
<p class = "tii1">6篇</p>
 </div>
 
<div id = "paiming">
<h>阅读排名</h> 
<div id = "pm">
<p><a class = "tiname" href = "#">css链接</a></p>
<p class = "tinum">阅读量：200</p>
</div>
<div id = "pm">
<p><a  class = "tiname"  href = "#">css链接</a></p>
<p class = "tinum">阅读量：200</p>
</div>
<div id = "pm">
<p><a class = "tiname"  href = "#">css链接</a></p>
<p class = "tinum">阅读量：200</p>
</div>
</div>
 
 
<div id = "callus"> 
<h>联系我们</h>
<p class = "us">网站客服</p>
<p class = "weibo"> 微博客服</p>
<p class = "us1"> wwwmaster@csdn.net</p>
<p class = "us1">400-100-200</p>
<p class = "oo1">京ICP证00000000号</p>
<p class = "oo2">关于|招聘|广告服务</p>
 </div>
 
</div>


</div>
</div>
</body>
</html>
