<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>AHUT欢迎你</title>

	<!-- 本地引用 -->
  <link rel="stylesheet" href="../static/css/layui.css">
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
	<div class="layui-logo">BUG教务系统</div>
	<ul class="layui-nav layui-layout-left">
	  <li class="layui-nav-item">
          <a href="javascript:;">通知公告</a>
          <dl class="layui-nav-child">
            <dd><a href={{ url_for('t_notice') }}>公告管理</a></dd>
            <dd><a href="">申诉管理</a></dd>
          </dl>
      </li>

	  <li class="layui-nav-item"><a href="">选课系统</a></li>
	  <li class="layui-nav-item"><a href="">毕设系统</a></li>
	  <li class="layui-nav-item"><a href="">用户画像</a></li>

		<li class="layui-nav-item">
		  <a href="javascript:;">信息查询</a>
		<dl class="layui-nav-child">
		  <dd><a href="">课表查询</a></dd>
		  <dd><a href="">成绩查询</a></dd>
		  <dd><a href="">培养计划查询</a></dd>
		</dl>
	  </li>

	  <li class="layui-nav-item">
		<a href="javascript:;">其它系统</a>
		<dl class="layui-nav-child">
		  <dd><a href="">邮件管理</a></dd>
		  <dd><a href="">消息管理</a></dd>
		  <dd><a href="">授权管理</a></dd>
		</dl>
	  </li>
	</ul>
	<ul class="layui-nav layui-layout-right">
	  <li class="layui-nav-item">
		<a href="javascript:;">
		  <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            欢迎你
		</a>
		<dl class="layui-nav-child">
		  <dd><a href="">基本资料</a></dd>
		  <dd><a href="">安全设置</a></dd>
		</dl>
	  </li>
	  <li class="layui-nav-item"><a href={{ url_for('signout') }}>退了</a></li>
	</ul>
  </div>

  <div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
	  <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
	  <ul class="layui-nav layui-nav-tree"  lay-filter="test">
		<li class="layui-nav-item layui-nav-itemed">
		  <a class="" href="javascript:;">待选功能</a>
		  <dl class="layui-nav-child">
			<dd><a href="javascript:;">列表一</a></dd>
			<dd><a href="javascript:;">列表二</a></dd>
			<dd><a href="javascript:;">列表三</a></dd>
			<dd><a href="">超链接</a></dd>
		  </dl>
		</li>
		<li class="layui-nav-item">
		  <a href="javascript:;">待选功能二</a>
		  <dl class="layui-nav-child">
			<dd><a href="javascript:;">列表一</a></dd>
			<dd><a href="javascript:;">列表二</a></dd>
			<dd><a href="">超链接</a></dd>
		  </dl>
		</li>
		<li class="layui-nav-item"><a href="">娱乐一下</a></li>
		<li class="layui-nav-item"><a href="">社区论坛</a></li>
	  </ul>
	</div>
  </div>

  <div class="layui-body">
	<div style="padding: 288px;">
        欢迎 教师 {{ session.get('username') }} 登录教务系统
	</div>
  </div>

  <div class="layui-footer">
	<!-- 底部固定区域 -->
	© Jipeng Qian Group 2019 - Powered by Layui
  </div>
</div>

<script src="../static/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;

});
</script>
</body>
</html>