<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>公告管理-教师端</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../static/css/layui.css"  media="all">
</head>

<body>

<div style="margin-bottom: 5px;">
<!-- 示例-970 -->
<ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-slot="3820120620" data-ad-client="ca-pub-6111334333458862"></ins>
</div>

<div class="layui-btn-group demoTable">
  <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
  <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
  <button class="layui-btn" data-type="isAll">验证是否全选</button>
  <button class="layui-btn" id="addRecordBtn">新增一条记录</button>
</div>

<table id="demo" class="layui-table" lay-filter="demo">  </table>

<script id="barDemo" type="text/html">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>     <!-- 指定对应的事件 -->
  <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script src="../static/layui.js" charset="utf-8"></script>

<!-- 这段js代码是核心 -->
<script>
    layui.use('table', function(){
        var table = layui.table;
        // 切记，一定要做个替换！！ layui和jquery中的 $ 不兼容！！！
        var $ = layui.$;

        // 动态渲染表格
        table.render(
            {
              elem: '#demo'     // table 的id
              ,id: 'idTest'     // 设置一个id，给下面的三个按钮函数作为唯一的标识
              ,height: 'full-200'
              ,cellMinWidth: 80
              , page: true
              , limit:30
              ,cols:
                [[ //表头
                    {type:'checkbox', fixed: 'left'}
                    ,{field: 'NId', title: '编号', width:'5%', sort: true, fixed: 'left'}
                    ,{field: 'NTitle', title: '标题', width:'15%', event: 'setTitle', style:'cursor: pointer;'}
                    ,{field: 'NContent', title: '正文', width:'50%', wrap: true, event: 'setContent', style:'cursor: pointer;'}
                    ,{field: 'NDate', title: '日期', width: '10%', event: 'setDate'}
                    ,{field:'NPublisherId', title: '发布人', width: '10%', event: 'setPublisherId'},
                    {fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}

                ]]
              ,data: {{ posts | tojson }}    // 这里是数据接口， 直接引用接受到的list数据
            }
        );


        // 监听添加记录按钮
        $('#addRecordBtn').on('click', function () {
            layer.msg("已为你创建一条空的记录行，你先修改它吧");

            var old_data = table.cache['idTest'];

            // 原先表中最后一行的index
            //var pre_index = old_data[old_data.length-1]['LAY_TABLE_INDEX'];

            var pre_id = parseInt(old_data[old_data.length-1]['NId']);

            //layer.alert(pre_id);

            var insert_data = {
                //'NId': 1002+pre_index,
                'NId': pre_id + 1
                ,'NTitle': '请输入你的标题'
                ,'NContent': '请输入你的正文'
                //,'NDate': ''    // 由后台自动设为当前日期
                //,'NPublisherId': '请输入你的id'
            };

            // 加上一条新的记录
            old_data.push(insert_data);

            insert_data['Option'] = 'add';

            // 重载表格信息
            table.reload('idTest', {
                data: old_data
            });

            $.ajax({
                url: 't_notice',
                type: 'POST',
                data: JSON.stringify(insert_data),
                dataType: 'json',
                contentType: 'application/json',
                success: function () {
                    //layer.alert("插入初始化数据成功，现在去修改吧");
                },
                error: function () {
                    //layer.alert("插入数据失败");
                }
            });

        });

        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
        console.log(obj)
        });


        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;


            if(obj.event === 'setTitle'){
              layer.prompt({
                formType: 2
                ,title: '修改 ID 为 ['+ data.NId +'] 的通知标题'
                ,value: data.NTitle
              }, function(value, index){
                layer.close(index);

                //这里一般是发送修改的Ajax请求， 暂时先不提交

                //同步更新表格和缓存对应的值
                obj.update({
                    NTitle: value
                });
            layer.msg('[ID: '+ data.NId +'] ' + obj.field + ' 字段更改为未提交的值：'+ value);  // 消息弹窗

              });
            }
            else if (obj.event === 'setContent') {
                layer.prompt({
                    formType: 2
                    ,title: '修改 ID 为 ['+ data.NId +'] 的通知正文'
                    ,value: data.NContent
                 }, function(value, index){
                layer.close(index);

                //这里一般是发送修改的Ajax请求， 暂时先不提交

                //同步更新表格和缓存对应的值
                obj.update({
                    NContent: value
                });
            layer.msg('[ID: '+ data.NId +'] ' + obj.field + ' 字段更改为未提交的值：'+ value );  // 消息弹窗

              });
            }
            else if (obj.event === 'setDate') {
                layer.prompt({
                    formType: 2
                    ,title: '修改 ID 为 ['+ data.NId +'] 的通知日期'
                    ,value: data.NDate
                }, function(value, index){
                    layer.close(index);

                    //这里一般是发送修改的Ajax请求， 暂时先不提交

                    //同步更新表格和缓存对应的值
                    obj.update({
                        NDate: value
                    });
                layer.msg('[ID: '+ data.NId +'] ' + obj.field + ' 字段更改为未提交的值：'+ value);  // 消息弹窗
                });
            }

            if(obj.event === 'detail'){     // 查看
              //layer.msg('ID：'+ data.NId + ' 的查看操作');
                //TODO: 信息格式化
                layer.alert('当前视图中的信息是: ' + JSON.stringify(data));
            } else if(obj.event === 'del'){     // 删除
              layer.confirm('真的删除行么', function(index){
                obj.del();

                // 增加操作类型
                var post_data = data;
                post_data['Option'] = 'delete';

                // 发送删除的ajax请求
                $.ajax({
                    url: 't_notice'
                    ,type: 'post'
                    ,data: JSON.stringify(post_data)
                    ,contentType: 'application/json'
                    ,success: function (data) {
                        layer.alert("你刚刚删除了一条记录");
                    },error: function () {
                        layer.alert("删除数据失败，好像哪里有问题");
                    }
                });

                layer.close(index);
              });

              //FIXME: 由于设计问题，插入记录是以默认的值传递到后台插入数据库的，然后需要用户自己修改。。。。
                // 这样就导致一些隐含Bug.....后面有时间我会修复
            } else if(obj.event === 'edit'){    // 编辑
              //layer.alert('当前行数据：<br>'+ JSON.stringify(data))
                // 后台传数据
                layer.confirm("真的修改么"+'当前数据是：' + JSON.stringify(data), function (index) {

                    var post_data = data;
                    post_data['Option'] = 'modify';

                    $.ajax({
                        url: '/t_notice'
                        ,type: 'POST'
                        ,data: JSON.stringify(post_data)
                        ,contentType: 'application/json'        // 这里又是一个坑。。。。
                        //,cache: true
                        //,async: true
                        ,success: function () {                 // 回调函数
                            layer.alert("修改数据成功");
                        }
                        ,error: function () {                   // 回调函数
                            layer.alert("修改数据失败了?");
                        }

                    });

                    layer.close(index);
                });
            }

        });     // 监听表格编辑结束

        var active = {        // yuan $ = layui.$
            getCheckData: function(){ //获取选中数据
              var checkStatus = table.checkStatus('idTest')
              ,data = checkStatus.data;
              layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
              var checkStatus = table.checkStatus('idTest')
              ,data = checkStatus.data;
              layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
              var checkStatus = table.checkStatus('idTest');
              layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>

</body>
</html>